.section__gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
    
.section_button-rooms{
    display: flex;
    flex-direction: row;
    margin-top: -1.8rem;
    justify-content:flex-end ;
    z-index: 1;  
}

.section__gallery-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
.section__gallery-pagination{
    margin-top: 4rem;
}

}