.section__gallery-luxury{
    margin-left: 5%;
    width: 90%;
}
.section__gallery-price {
   position: absolute;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
    background-color: rgba(17, 17, 17, 0.5);
    gap: 1em;
    bottom: 29%;
    left: 56%;
}
.section_image-offers{
    background: #DADADA;
    width: 95%;
   
    height: 100%;
    max-width: 600px;
    

    margin: auto;
}
.section__gallery-offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
    height: 40vh;
}

//Popular rooms
#bakground__popular{
    background: #222222;
    margin-top: 4%;
}
.card-white{
    background-color: #FFFFFF;
    margin-top: -14%;
    padding: 16%;
    width: 95%;
    height: 40vh;
}

