#options_footer{
    background-image: url("../../assets/footer/Rectángulo.png") ;
    width: 95%;
    margin: auto;
    margin-top: 15%;
}
#footer_services {
    display: flex;
    padding: 5%;

    ul {
        list-style-type: none;
    }
}

.footer__contact {
    padding: 5%;
}