#section_some_fun{
  margin-top: 8%;
  max-width: 600px;

  padding: 1.7rem;
}
  .section__cards-some{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 2em;
  }
